body{
    margin: 0;
    font-family: 'Lato', sans-serif;
   
}

/*Resposividade mobile*/

.control {
    background-color: #e0e0e0;
    height: 60px;
    width: 100%;
}

.botoesdesk{
    display: none;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

#tablet{
    display: none;
}

.control span {
    font-size: 20px;
    font-weight: 600;
    color: #333;

}

.elipse{
    padding-left: 23px;
}

.aba{
    padding-right: 27px;
}

.menu div {
    width: 33px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;

}

.aba ul {
    list-style-type: none;
    background-color: #333;
    color: white;
    position: fixed;
    height: 100%;
    width: 85.4%;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 20px 0;
    font-size: 16px;
    display: none;
    z-index: 2;
}

.aba ul li:nth-child(1) {
    text-align: left;
}

.aba ul li {
    text-align: right;
    margin:7px 0;
    padding: 0 20px;

}
.aba ul li:hover{
    background-color: #c4c4c4;
    color: #333;
}

.aba ul li:nth-child(1){
    background-color: #333;
    color: white;
}

.aba:hover ul{
    display: block;
}

.hero {
    font-size: 14px;
    max-width: 1100px;
    margin: 0 auto;
}

.transacao {

     padding: 20px;
}

#primeiro_botao {
    width: 98.40%;
    border-radius: 4px;
    color: #888;
    margin-top: 7px;
    height: 28px;
    border: 1px solid #979797;
}

.NM {
    display: flex;
    margin-top: 20px;
}

.mercadoria {
    width: 97%;
    border-radius: 4px;
    color: #888;
    margin-top: 7px;
    height: 25px;
    border: 1px solid #979797;
}

.value {
    position: absolute;
    margin-top: 20.74px;
}

.VM {
    width: 97%;
    border-radius: 4px;
    color: #888;
    margin-top: 43px;
    height: 25px;
    border: 1px solid #979797;
}

.adicionar{
        width: 98.40%;
        border-radius: 4px;
        color: #FFFF;
        margin-top: 43px;
        height: 28px;
        border: 1px solid #979797;
        background-color: #333;
}

.extract{
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.tabela{
    padding: 20px 20px 0px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-top: solid 1px #979797;
    font-weight: 400;
}

.fim_tabela{
    border-top: double #979797; 
    font-weight: 700;
    padding: 8px 8px 0px;
}

#vtf{
    text-align: end;
    padding-right: 20px;
}

.topo{
    border: none;
    font-weight: 700;
}

#lc{
    font-size: 10px;
    border: none;
    
}

.vt{
    text-align: end;
    padding-right: 20px;
}

/* responsividade tablet*/

@media screen and (min-width: 712px){
    .control{
        justify-content: space-between;
    }

    .elipse{
        padding-left: 20px;
    }
    .aba{
        padding-right: 20px;
    }

    .aba ul {
        width: 32%;
    }

    #tablet{
        display: inline;
        font-weight: 700;
        font-size: 18px;
    }

    .formbox{
        border: 1px solid #979797;
        margin: 20px;
        margin-bottom: 44px;
        border-radius: 4px;   
    }
    
    .novat{
        text-align: center;
        padding-top: 20px;
    }

    .transacao{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        border-radius: 4px;
        justify-content: flex-end;
    }

   .lcompra{
    width: 20%;
   }

   .lmercadoria{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
   }

   .lvalor{
    width: 23%;
   }

   .adicionar{
    margin-top: 19px;
    width: 200px;
   }

   .linha1{
       display: none;
   }

}

/*Desktop*/

@media screen and (min-width: 1100px) {

    .elipse{
        padding-left: 23px;
    }

    .aba ul{
        display: none;
    }

    .botoesdesk { 
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    }

    .botoesdesk a, .pipe{
        padding: 8px;
        text-decoration: none;
        color: #333;
        position: relative;
        white-space: nowrap;
        transition:  0.2s;
        font-weight: 600;
    }


    .botoesdesk a:hover{
        background-color: #888;
    }

    .botoesdesk a:hover{
        background-color: #888;
    }

    .menu{
        display: none;
    }

    span{
        flex: auto;
        padding-left: 15px;
    }
    
    .hero{
        display: flex;
    }

    .formbox{
        height: 327px;
        width: 400px;
        margin-left: 19px;
    }

    .transacao{
        display: unset;
    }

    .lcompra{
        width: 97%;
        padding: 0px 10px
    }

    .lmercadoria{
        width: 97%;
        padding: 0px 10px;
    }

    .lvalor{
        width: 97%;
        padding: 0px 10px;
    }

    .btadd{
        padding-top: 15px;
    }

    .adicionar{
        width: 96%;
        margin: 9px;

    }

    .tablecomp{
        width: 74%;
    } 
}